
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

input[type=text], textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 20px
}

#displayTextArea {
  position: absolute;
  top: 350px;
  left: 400px;
}

#errorTextArea {
  position: absolute;
  top: 200px;
  left: 0;
  color: red;
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  word-wrap: break-word;
}

.displayTextAreaContain {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px auto;
}
